body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  cursor: url(../public/lsgr.cur), auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #022869;
  cursor: url(../public/lsgr.cur), auto;
}

.header{
  background-color: #565658;
  height: 100%;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 25px;
  /* position: fixed; */
  /* width: 100%; */
}

.header img {
  object-fit: contain;
}

@media (max-width: 700px) {
  .header {
    background-color: #565658;
    height: 100%;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 15px;
    color: white;
    /* position: fixed; */
  }
  .header img {
    object-fit: contain;
  }
}

@media (max-width: 500px){
  .paragraph {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #022869;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (min-width: 500px) and (max-width: 850px){
  .paragraph {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #022869;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (min-width: 850px) {
  .paragraph {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #022869;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (min-width: 150px) and (max-width: 400px){
  .ant-menu {
    font-size: 9px !important;
  }
}

@media (min-width: 401px) and (max-width: 455px){
  .ant-menu {
    font-size: 11px !important;
  }
}

.menu{
  background-color: white;
  position: sticky;
  display: flex; 
  justify-content: center; 
  width: 100%;
  padding: 20px;
}

.newClass {
  background-color: white;
  border: 1px solid black;
  font-family: Arial Rounded MT Bold; 
  border-radius: 10px;
  width: 50%;
  display: flex; 
  justify-content: center;
}

@media (max-width: 700px) {
  .newClass {
    background-color: yellow;
    border: 1px solid black;
    font-family: Arial Rounded MT Bold; 
    border-radius: 10px;
    width: 50%;
    display: flex; 
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .menu {
    background-color: white;
    width: 100%;
    position: sticky;
    display: flex; 
    justify-content: center;
    padding: 10px 20px;
    border: none !important;
  }
}

.ant-menu-item-selected {
  background-color: none !important;
  border: none !important;
  color: #022869 !important;
} 

.ant-menu-item { 
  color: #C00A30; 
}


.ant-menu-item-selected::after {
  border-bottom: none !important;
} 

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: inherit;
  left: 20%;
  z-index: 2;
  color: #022869;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  right: 20%;
  z-index: 2;
  color: #022869;
}

.ant-carousel .slick-slider .slick-track {
  /* width: 100% !important; */
}

.ant-layout .ant-layout-header {
  line-height: 0px !important;
}

.carouselCntr {
  width: auto;
  background-color: white;
  display: flex !important;
  justify-content: center;
}

.headingCntr{
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  box-shadow: 4.2px 8.3px 8.3px hsl(0deg 0% 0% / 0.37);
}

.contact {
  position: sticky;
  padding: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 388px) {
  .contact {
    position: sticky;
    padding: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}